.hedLogin{
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}
.txtMons{
    font-family: Montserrat;
}
.login{
    padding: 3.5rem 0 2rem 1rem;
}
.login .form-control{
    height: 3.5rem;
    box-shadow: 2px 2px 14px 0 rgba(0, 0, 0, 0.16);
}
.login h1{
    color: #9ba0ac;
}
.login h2{
    color: #081d31;
}
.login label{
    font-weight: bold;
    opacity: 0.7;
    color: #15314d;
    font-size: 14px;
}
.hedLogin h6{
    font-size: 0.8rem;
    padding-top: 0.6rem;
    margin-bottom: 0;
    color: #9ba0ac;
    font-family: Montserrat;
    font-weight: bold;
}
.hedLogin h5{
    font-size: 0.8rem;
    font-family: Montserrat;
    font-weight: bold;
}
.txtColor{
    color: #323659;
    font-family: Montserrat;
    font-weight: bolder;
}
.txtForget{
    font-size: 12px;
    font-weight: bolder;
    color: #081d31;
    opacity: 0.7;
}
.numColor{
    color: #40456e;
    font-family: Montserrat;
    font-size: 42px;
    font-weight:600;
    height: 52px;
}
.imgLogin{
    margin-top: -3px;
    max-height: 510px;
}
.btnDark{
    background-color: black;
    height: 3.5rem;
    font-size: 14px;
    font-family: Montserrat;
    color: white;
    font-weight: bold;
}
.btnDark:hover{
    background-color: white;
    color: black;
    border-color: black;
}
.txtBlack{
    color:black;
}
.txtSmall{
    opacity: 0.6;
    font-size: 12px;
    font-weight: bold;
}
.bYellow{
    margin-top:0.8rem;
    background-color: #e68a00;
    border-radius: 25px;
}
.imgReduis{
    border-radius: 25px;
}
.btnD,.btnDs{
    background-color:black;
    color: white;
}
.btnDs{
    margin-top: 2rem;
}
.btnoD{
    background-color: white;
    border-color: black;
    color: black;
}
.btnoD:hover{
    background-color:black;
    color: white;
}
.btnD:hover,.btnDs:hover{
    background-color: white;
    border-color: black;
    color: black;
}
.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file{
    font-size:16px;
    color: teal;
}
.custom-control .custom-control-label{
    cursor: pointer;
}
.bgEd{
    background-color: #323659;
    padding: 0rem 1rem 1rem 1rem;
    border-radius:4px;
}
.btnP{
    background-color: #7e82a3;
    color: white;
}
.btnP:hover{
    color: #081d31;
    border-color: #323659;
    background-color: aliceblue;
}
.jumBg{
    background-color: #eef0f5;
}
.modalAdd label{
    font-weight: bold;
}
.modalAdd .form-control,.modalAdd .custom-file{
    height: 3rem;
}
.accountC{
    cursor: pointer;
}
.mAcount{
    display: none;
    background-color: #081d31;
    border-bottom: 1px solid white;
}
.btnND{
    background-color: white;
    border:2px solid gray;
}
.btnND:hover{
    background-color: black;
    color: white;
}
.dropD::after{
    display: none;
}
.btnPrint{
    background-color: white;
    height: 3.4rem;
    font-weight:bold;
    font-size: 1rem;
    background-color: #f4f5fa;
    border: 2px solid gray;
    padding: 0.2rem;
}
.btnPrint:hover{
    opacity:0.9;
    color:red;
}
.bgHead{
    background-color: rgb(247, 228, 228);
    color: black;
    padding: 2rem;
}
.imgCircule{
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
.card h5,.card h6{
    font-family: Montserrat;
}
.pagination .page-item{
    padding-right: 0.5rem;
}
.page-item.disabled .page-link{
    background-color:unset;
}
.page-item:last-child .page-link{
    background-color:unset;
    border:none;
}
.table-responsive thead th{
    color: #111010;
    opacity: 0.4;
    font-size: 12px;
}
.table-responsive tbody td{
    color: black;
    font-size: 14px;
}
.hideGroup{
    display: none;
}
.txtvSmall{
    font-size: 11px;
}
.btnEditS{
    padding: 1.5px 3.5px;
    border:1px solid gray;
}
.txtGray{
    color:gray;
}
.imgSmall{
    border-radius:25px;
}
.badgeY .badge{
    background-color: orange;
    padding:0.5rem 0.5rem;
    border-radius: 30px;
    width:29px;
}
.fColor{
    background-color: #323659;
    border-radius:11px 11px 0px 0px !important;
}
.badgeY{
    color: orange;
}
.textED{
    font-size: 0.9rem !important;
}
.bgGray{
    background-color: #eef0f5;
}
.btnChange{
    background-color: #323659;
    color:white;
}
.btnChange:hover{
    border-color:#323659;
    color:#323659;
    background-color:white;
}
.emGray,.emBlue,.emOrange,.emPrimary,.emInfo{
    border: none;
    color:white;
    font-weight:bold;
    margin-top: 0.5rem;
    border-radius: 14px;
    padding: 0.5rem;
}
.emGray{
    background-color: gray;
}
.emBlue {
    background-color: blue; 
}
.emOrange {
    background-color: orange;
}
.emPrimary {
    background-color: pink;
}
.emInfo{
    background-color: burlywood;
}
.bottom-left {
    position: absolute;
    bottom: 24%;
    color: black;
    font-size: 8px;
    font-weight: bold;
    left: 40%;
}
.bottom-right {
    position: absolute;
    bottom: 24%;
    color: black;
    font-size: 8px;
    font-weight: bold;
    left: 68%;
}
.top-left {
    position: absolute;
    top: 36%;
    left: 10%;
    width: 100px;
    height: 100px;
    border-radius: 5px 5px 0 0;
}
.bottomL {
    position: absolute;
    bottom: 13%;
    color: black;
    font-size: 8px;
    font-weight: bold;
    left: 40%;
}
.bottom-left2 {
    position: absolute;
    bottom: 40%;
    color: black;
    font-size: 8px;
    font-weight: bold;
    left: 39%;
}
.bottom-right2 {
    position: absolute;
    bottom: 40%;
    color: black;
    font-size: 8px;
    font-weight: bold;
    left: 70%;
}
.top-left2 {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 100px;
    height: 100px;
    border-radius: 5px 5px 0 0;
}
.bottomL2 {
    position: absolute;
    bottom: 30%;
    color: black;
    font-size: 8px;
    font-weight: bold;
    left: 39%;
}
/* ==================================================== */

.containerr {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .containerr input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmarke {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    border-radius:25px;
    width: 30px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .containerr:hover input ~ .checkmarke {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerr input:checked ~ .checkmarke {
    background-color: rgb(247, 140, 39);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmarke:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containerr input:checked ~ .checkmarke:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containerr .checkmarke:after {
    left: 12px;
    top: 9px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* ==================================================== */
@media screen and (max-width:400px){
    .login h2{
        font-size: 1.5rem;
    }
    .hideSm{
        display:none;
    }
    .login{
        padding: 2rem 0.5rem;
    }
}
@media screen and (max-width:500px){
    .dropDM{
        width:100%;
    }
}
@media screen and (max-width:800px){
   
    .mAcount{
        display:block;
    }
}
@media screen and (min-width:1000px){
    .dropDM{
        width:371px;
    }
}